@import @/styles/_mixins

.info
  position: relative
  z-index: 100
  width: 100%
  height: 100%
  @include fl-tl
  @include fl-sb
  padding: 20px

.about
  width: 24%
  height: 100%
  @include fl-tl
  @include fl-c
  @include fl-sb

.details
  p:first-child, a
    color: #251d20
    font-size: 18px
    font-weight: bold
    line-height: 25px
  a
    text-decoration: underline
    color: #251d20

.copyright
  font-size: 12px
  // margin-top: 8px
  margin-bottom: 20px
  a
    font-size: 12px
    text-decoration: underline
    font-weight: normal
    color: #251d20

.issues
  width: 18%
  height: 100%
  @include fl-bl
  @include fl-c
  @include fl-sb

.email
  font-size: 18px
  font-weight: bold
  line-height: 25px

.issues_box
  width: 100%
  @include fl-bl
  @include fl-c
  gap: 0.5rem
  p
    font-size: 18px
    &:hover
      text-decoration: underline
      cursor: pointer
